/*-- LINKS/ANCHORS --*/
a {
  color:              #005EB8;
  border-bottom:      2px solid #005EB8;
  line-height:        1.5em;
}

a:hover {
  border-bottom:      0px;
}

/*-- HEADINGS --*/
.remark-slide-content h1 {
  color:              #005EB8;
  font-size:          45px;
  line-height:        1em;
}

.remark-slide-content h2 {
  font-size:          35px;
  color:              #005EB8;
  line-height:        1em;
}

.remark-slide-content h3 {
  font-size:          25px;
  color:              #005EB8;
}

/*-- PARAGRAPH TEXT --*/
.remark-slide-content {
  font-size:          20px;
  line-height:        1.2em;
}

/*-- HORIZONTAL BARS --*/
hr {
  content:            none;
  display:            block;
  border:             none;
  background-color:   #231F20;
  height:             0.08em;
}

/*-- BOTTOM-OF-SLIDE PROPERTIES --*/

/*-- Footnote --*/
.footnote {
  position:           absolute;
  bottom:             2em;
  padding-right:      4em;
  font-size:          80%;
  line-height:        1.3em;
}

/*-- Slide number --*/
.remark-slide-number {
  color:              #000000;
}

/*-- CODE TEXT --*/

/*-- In-line highlighting within text --*/
.remark-code, .remark-inline-code {
  font-size:          90%;
  font-weight:        400;
  color:              #231F20;
  background:         #E8EDEE;
  border-radius:      3px;
  padding:            1px 1px 1px 1px;
}

/*-- Line highlighting within code --*/
.remark-code-line-highlighted {
  background-color:   #E8EDEE;
}

/*-- CODE CHUNKS --*/

/*-- Code chunk background layer --*/
pre {
  /*border: 2px solid rgba(204, 189, 204, 0.8); /* code chunk border*/
  border:             none;
  box-shadow:         2px 2px 2px 2px #eee;
  padding:            0.1em;                    /* padding between code chunk and border */
  background:         none !important;
  overflow-x:         auto;                     /* enable horizontal scrolling with overflow */
  border-radius:      1px;                      /* modify rounding of corners*/
}

/*--  --*/
pre code {
  background:          none;
  font-size:           18px !important;
}

/*-- TABLES --*/
.remark-slide table {
  margin:              0 0 auto 0; /* auto; */
  border-top:          1px solid #768692;
  border-bottom:       1px solid #768692;
}

/*-- Table header --*/
.remark-slide table thead th {
  border-bottom:       1px solid #768692;
}

/*-- Table rows (even) --*/
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) {
  background:          #E8EDEE;
}

/*-- BLOCK QUOTE --*/
blockquote {
  border-left:         solid 5px #E8EDEE;
  padding-left:        1em;
}

/*-- INVERSE SLIDE MODIFICATIONS --*/

/*-- Slide background and text (inverse) --*/
.inverse {
  background-color:   #005EB8;
  color:              #FFFFFF;
  text-shadow:        none;
}

/*-- Headings (inverse) --*/
.inverse h1, .inverse h2, .inverse h3 {
  color:              #FFFFFF;
}

/*-- Horizontal bars (inverse) --*/
.inverse hr {
  background-color:   #FFFFFF;
}

/*-- Links/anchors (inverse) --*/
.inverse a {
  color:              white;
  border-bottom:      2px solid white;
}

.inverse a:hover {
  border-bottom: none;
}

/*-- CUSTOM CLASS FOR THE TITLE SLIDE --*/

/*-- NHS organisation logo --
.title-slide {
  background-image:    url(../img/logo-nhs-org-right.png);
  background-position: 95% 10%;
  background-size:     300px;
}*/

/*-- Headings --*/
.title-slide h1 {
  color:               #000000;
}

/*-- Hides slide number from title slide --*/
.title-slide .remark-slide-number {
  display:             none;
}

/* Two-column layout  from yihui default*/
.left-column {
  color: #777;
  width: 20%;
  height: 92%;
  float: left;
}

.left-column h2:last-of-type, .left-column h3:last-child {
  color: #000;
}

.right-column {
  width: 75%;
  float: right;
  padding-top: 1em;
}

.pull-left {
  float: left;
  width: 47%;
}

.pull-right {
  float: right;
  width: 47%;
}

.pull-right + * {
  clear: both;
}


/* from yihui default*/

@page { margin: 0; }
@media print {
  .remark-slide-scaler {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
    top: 0 !important;
    left: 0 !important;
  }
}


/*-- CUSTOM CLASSES FOR TEXT EMPHASIS --*/
.blue       { color:   #005EB8 }
.green      { color:   #009639 }
.pink       { color:   #AE2573 }
.red        { color:   #DA291C }
.warmyellow { color:   #FFB81C }